venv/
firebase_backend/
__pycache__/
routes/__pycache__/
models/__pycache__/
config/__pycache__/
utils/__pycache__/
Admin/__pycache__/

# Ignore shape predictor files
shape_predictor_68_face_landmarks.dat


cert.pem
key.pem

