venv/
firebase_backend/
__pycache__/
routes/__pycache__/
models/__pycache__/
config/__pycache__/
utils/__pycache__/
Admin/__pycache__/


shape_predictor_68_face_landmarks.dat/
shape_predictor_68_face_landmarks.dat.bz2/

cert.pem
key.pem

