venv/
firebase_backend/
__pycache__/
routes/__pycache__/
models/__pycache__/
config/__pycache__/
utils/__pycache__/
Admin/__pycache__/
data/

# Ignore shape predictor files
shape_predictor_68_face_landmarks.dat

Dry_Eye_Dataset.csv
dry_eye_model.pkl
eye_detection.py 
test.py
eyetrack_cam.py
blink_metrics_20250706_032123.csv

eye_trackingtest.py
ml_models/


cert.pem
key.pem

